@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    src:
        local("TTLakes-Regular"),
        url("../fonts/TTLakes-Regular.woff") format("woff"),
        url("../fonts/TTLakes-Regular.ttf") format("ttf"),
        url("../fonts/TTLakes-Regular.eot") format("eot");
    letter-spacing: -0.6px;
}
